github.com:
    git_protocol: https
    users:
        borland502:
            oauth_token: {{ (keepassxcAttribute "BFCFFE00-F1F0-4234-BCFD-C40687D72CB8" "gh_token_borland502") | quote }}
        HDPC1_qnet:
    user: borland502
