#!/usr/bin/env bash

echo "{{.chezmoi.homeDir}}/.local/share/automation"

if ! [[ -d "{{.chezmoi.homeDir}}/.local/share/automation" ]]; then
  echo "No automation directory detected" && exit 2
  if ! [[ -d "{{.chezmoi.homeDir}}/.local/share/automation/dasbootstrap" ]]; then
    echo "Dasbootstrap is not on your system" && exit 2
  fi
fi

# assume that this is a dev node and copy from the working proj to the automation folder
if [[ -d "{{.chezmoi.homeDir}}/.local/share/dasbootstrap" ]]; then
  rsync -avzPh "{{.chezmoi.homeDir}}/.local/share/dasbootstrap" "{{.chezmoi.homeDir}}/.local/share/automation"
fi
