#!/usr/bin/env zsh
source $(brew --prefix)/zinit/zinit.zsh

source ~/.zshrc

if [[ $(command -v task) ]]; then
    task --version
else
    echo "task not found"
fi

# NVM should be installed by this point, but may not yet be sourced
if [[ -z ${NVM_DIR+x} ]]; then
  export NVM_DIR="${XDG_DATA_HOME}/nvm"
  [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
fi

# PYENV should be installed by this point, but may not yet be sourced
if [[ -z ${PYENV_ROOT+x} ]]; then
  export PYENV_ROOT="${XDG_DATA_HOME}/pyenv"
  export PATH="$PYENV_ROOT/bin:$PATH"
  eval "$(pyenv init --path)"
fi

source ~/.zshrc

# install vundle plugins
vim +PluginInstall +qall
