#!/usr/bin/env zsh

# .env is not present on initial load
export HAS_ALLOW_UNSAFE=y

# remedial software installs
if ! [[ $(command -v brew) ]]; then
  /bin/zsh -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
if ! [[ $(command -v has) ]]; then
  brew install has
fi

# https://github.com/borland502/dasbootstrap/blob/dce7e0875d04c48fd0708354d12444ce2c39b5f7/lib/constants.sh
if [[ ${BREW_LIST+x} ]]; then
  for item in "${BREW_LIST[@]}"; do
    if ! has "$item"; then
      brew install "$item"
    fi
  done
fi
