#!/usr/bin/env zsh

zinit "${XDG_DATA_HOME}/zinit/zinit.zsh"

if ! [[ $(command -v gum) ]]; then
  brew install gum
fi

if ! [[ -f ${XDG_CONFIG_HOME}/age/key.txt ]]; then
  mkdir -p ${XDG_CONFIG_HOME}/age
  chmod -R 0760 "${XDG_CONFIG_HOME}/age"

  echo $(gum input --prompt="What is the private key for age? " --placeholder "AGE-SECRET-KEY-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX") > "${XDG_CONFIG_HOME}/age/key.txt"

  chmod 600 "${XDG_CONFIG_HOME}/age/key.txt"
fi
