#!/usr/bin/env bash
# sh -c "$(curl -fsLS get.chezmoi.io)" -- init --apply $GITHUB_USERNAME

{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") }}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end }}