#!/usr/bin/env bash

echo "{{.chezmoi.homeDir}}/.local/share/automation"

if ! [[ -d "{{.chezmoi.homeDir}}/.local/share/automation" ]]; then
  mkdir -p "{{.chezmoi.homeDir}}/.local/share/automation"
fi

# relocate the age key if in legacy dir
if [[ -f ~/bin/key.txt ]]; then
  mkdir -p "{{ .chezmoi.homeDir }}/.config/keepass"
  mv ~/bin/key.txt "{{ .chezmoi.homeDir }}/.config/keepass/key.txt"
fi


