# chezmoi:template:left-delimiter="[[" right-delimiter=]]
version: "3"

vars:
  [[range .chezmoi.config.data.taskfile -]]
  [[.]]
  [[end -]]
  ANSIBLE_WORKING_DIR: "[[.chezmoi.homeDir]]/.ansible"
  ANSIBLE_INV_SUFFIX: "--list --export --toml"
  ANSIBLE_INV_NMAP_PREFIX: "{{.ANSIBLE_INVENTORY}} -i {{.ANSIBLE_WORKING_DIR}}/inventory/nmap.yaml"
  ANSIBLE_INV_LDAP_PREFIX: "{{.ANSIBLE_INVENTORY}} -i {{.ANSIBLE_WORKING_DIR}}/inventory/microsoft.ad.ldap.yaml"
  ANSIBLE_INV_PROXMOX_PREFIX: "{{.ANSIBLE_INVENTORY}} -i {{.ANSIBLE_WORKING_DIR}}/inventory/proxmox.yaml"
  ANSIBLE_COLLECTIONS_INSTALL_PREFIX: "{{.ANSIBLE_GALAXY}} collection install -r {{.TASKFILE_DIR}}/collections/requirements.yml --force"
  ANSIBLE_ROLES_INSTALL_PREFIX: "{{.ANSIBLE_GALAXY}} role install -r {{.TASKFILE_DIR}}/roles/requirements.yml --force"

tasks:
  default:
    cmds:
      - |
        command -v brew >/dev/null || { echo "brew is mandatory for this to work, please install it"; exit 1; }
        command -v gum >/dev/null|| brew install gum
        selected=$(task --list-all | grep -v "task: Available" | grep -v "default:" | gum filter --indicator="->" --placeholder="Type to search for a task...")
        echo "$selected" | awk '{sub(/:$/, "", $2); print $2}' | xargs task
        
  inventory:nmap:
    desc: "Display inventory with the ansible nmap dynamic plugin"
    cmds:
      - "{{.ANSIBLE_INV_NMAP_PREFIX}}"
    dir: "{{.ANSIBLE_WORKING_DIR}}"

  inventory:ldap:
    desc: "Display inventory with the ansible ldap dynamic plugin"
    cmds:
      - "{{.ANSIBLE_INV_LDAP_PREFIX}} {{.ANSIBLE_INV_SUFFIX}}"
    dir: "{{.ANSIBLE_WORKING_DIR}}"

  inventory:proxmox:
    desc: "Display inventory with the ansible proxmox dynamic plugin"
    cmds:
      - "{{.ANSIBLE_INV_PROXMOX_PREFIX}} {{.ANSIBLE_INV_SUFFIX}}"
    dir: "{{.ANSIBLE_WORKING_DIR}}"

  galaxy:collection:install:
    desc: "Install collections"
    cmds:
      - "{{.ANSIBLE_COLLECTIONS_INSTALL_PREFIX}}"
    dir: "{{.ANSIBLE_WORKING_DIR}}"

  galaxy:role:install:
    desc: "Install roles"
    cmds:
      - "{{.ANSIBLE_ROLES_INSTALL_PREFIX}}"
    dir: "{{.ANSIBLE_WORKING_DIR}}"
