{{- $name := promptString "name" -}}
{{- $email := promptString "email" -}}
{{- $homebrew_token := promptString "Homebrew Token" -}}
{{- $gpg_key := promptString "GPG Key" }}

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
#  homebrew_token: "{{ $homebrew_token }}"
#  encryption: gpg
#  gpg:
#    recipient: "{{ $gpg_key }}"