{{ if stdinIsATTY }}
{{- $name := promptString "name" -}}
{{- $email = promptString "email" -}}

encryption: "gpg"
gpg:
  symmetric: true

{{ else }}
{{-  $name = "Jeremy Hettenhouser" -}}
{{-  $email = "jhettenh@gmail.com" -}}
{{ end }}

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
