.ssh/id_*
.ssh/*.pem
.ssh/known_hosts*

*.swp

key.txt
private_key.txt
.DS_Store

.env
.autoenv*
1password-credentials.json

.idea

# Sensitive config directories
.config/gphotos-sync
.config/gh/hosts.yml
