## This file should match the variables in env.toml and sourced in the home directory as ~/.env

{{range .xdg -}}
{{ . | replace ": " "=" }}
{{ end -}}

{{range .env.vars -}}
{{ . | replace ": " "=" }}
{{ end -}}

{{range .taskfile -}}
{{ . | replace ": " "=" }}
{{ end -}}

{{range .taskfile_ansible -}}
{{ . | replace ": " "=" }}
{{ end -}}

{{range .versions.vars -}}
{{ . | replace ": " "=" }}
{{ end -}}


