!**/.vscode/extensions.json
!**/.vscode/launch.template.json
!**/.vscode/settings.template.json
!**/.vscode/tasks.json
!**/[Pp]ackages/build/
!.axoCover/settings.json
!.gitignore
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!?*.[Cc]ache/
!LLVMBuild.txt
!tests/baselines/reference/project/nodeModules*/**/*
!tests/cases/docker/*.js/
!tests/cases/projects/NodeModulesSearch/**/*
!tests/cases/projects/projectOption/**/node_modules
!tests/cases/user/bignumber.js/
!tests/cases/user/discord.js/
!tests/cases/user/zone.js/
!tests/cases/webharness/compilerToString.js

*$py.class
**/Photos\ Library/*
**go/pkg/*
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/*.db
**/*.log
**/*.log*
**/.DS_Store
**/.vs
**/.vscode/*
**/[Pp]ackages/*
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/private/
**/tags
**/test-results/*
*,cover
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.8
*.Cache
*.DotSettings.user
*.GhostDoc.xml
*.Publish.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.actual
*.appx
*.appxbundle
*.appxupload
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cachefile
*.cgi
*.class
*.com
*.config
*.cover
*.coverage
*.coveragexml
*.csv
*.ctxt
*.db
*.dbproj.schemaview
*.dll
*.dotCover
*.e2e
*.ear
*.egg
*.egg-info/
*.exe
*.gcov
*.idea/
*.iobj
*.ipdb
*.iws 
*.jar
*.jfm
*.jmconfig
*.lcov
*.ldf
*.log
*.manifest
*.mdf
*.mm.*
*.mo
*.nar
*.ncrunch*
*.ndf
*.nuget.props
*.nuget.targets
*.nvuser
*.o
*.odx.cs
*.opendb
*.opt
*.out
*.pfx
*.pid
*.pid.lock
*.pidb
*.plg
*.pot
*.project
*.publishproj
*.publishsettings
*.pubxml
*.py,cover
*.py[co]
*.py[cod]
*.rar
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsuser
*.run/**
*.sage.py
*.sap
*.seed
*.settings/
*.snupkg
*.so
*.so*
*.spec
*.sqlite
*.suo
*.svclog
*.sw*
*.swp
*.tar.gz
*.tgz
*.tmp_proj
*.tsbuildinfo
*.tss
*.user
*.userosscache
*.userprefs
*.vbw
*.vspx
*.war
*.xlsx
*.xsd.cs
*.zip
*/test-results/
*Resharper*
*_h.h
*_wpftmp.csproj
.*
./package-lock.json
.AppleDB
.AppleDesktop
.DS_Store/
.DocumentRevisions-V100
.JustCode
.Python
.Spotlight-V100
.TemporaryItems
.Trashes
.Trash
.aws
.VolumeIcon.icns
.\#*
.apdisk
.autotools
.axoCover/*
.build/
.cache
.cache-main
.cache/
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.cr/personal
.dirstamp
.dmypy.json
.dynamodb/
.eggs/
.eslintcache
.failed-tests
.fake/
.flattened-pom.xml
.fseventsd
.fusebox/
.gradle/
.grunt
.history
.htmlcoverage/
.hypothesis
.hypothesis/
.idea
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sonarIssues.xml
.idea/**/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.installed.cfg
.ipynb_checkpoints
.jpb/
.jpb/*
.localhistory/
.lock-wscript
.lokalise_token
.mfractor/
.mtj.tmp/
.mvn/wrapper/maven-wrapper.jar
.mypy_cache/
.nb-gradle/
.next
.node_modules/
.node_repl_history
.nox/
.npm
.ntvs_analysis.dat
.nuxt
.nyc_output
.paket/paket.exe
.parallelperf.*
.parcel-cache
.pnp.*
.pnpm-debug.log*
.projectile
.pybuilder/
.pyre/
.pytest_cache
.pytest_cache/
.pythoscope
.pytype/
.rej
.ropeproject
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.sass-cache/
.scala_dependencies
.scrapy
.serverless/
.spyderproject
.spyproject
.svn
.tern-port
.tmp
.tox/
.vagrant/
.venv
.vs/
.vscode
.vscode-test
.vscode/*
.vuepress/dist
.webassets-cache
.worksheet
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/.mypy_cache/
/.mypy_cache/*
/.vs/*
/Goulib.egg-info/
/ICSharpCode.NRefactory.Tests/PartCover/*
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/cc-tool
/compile
/config.guess
/config.log
/config.report
/config.status
/config.sub
/configure
/docs/_build
/home-assistant.pyproj
/home-assistant.sln
/install-sh
/lib/*.dll
/libtool
/lint-issues.json
/ltmain.sh
/m4/libtool.m4
/m4/lt*.m4
/missing
/pdfminer.six.egg-info/
/site
/target
/test-attachments
/test-output
ASALocalRun/
AppPackages/
AutoTest.Net/
BenchmarkDotNet.Artifacts/
BundleArtifacts/
ClientBin
ClientBin/
Dockerfile.raspberrypi3
Dockerfile.raspberrypi4-64
ENV/
FakesAssemblies/
Generated\ Files/
Generated_Code #added for RIA/Silverlight projects
Generated_Code/
JBossEULA.txt
LICENSE.txt
MANIFEST
MigrationBackup/
Network Trash Folder
OpenCover/
PKG-INFO
PYTHON_USED_DURING_BUILDING
Package.StoreAssociation.xml
Pipfile*
PublishScripts/
ServiceFabricBackup/
StyleCopReport.xml
TEST-results.xml
Temporary Items
TestResult.xml
TestResults
UpgradeLog*.htm
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in
[Bb]in/
[Dd]ebug*/
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress
[Ee]xpress/
[Ll]og/
[Oo]bj
[Oo]bj/
[Rr]eleasePS/
[Rr]eleases/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult
[Tt]est[Rr]esult*
[Tt]est[Rr]esult*/
\#*\#
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/*
_TeamCity*
__pycache__/
__pypackages__/
_docker-volumes/
_pkginfo.txt
_scratchpad
_scratchpad_flows
_svn
_themes
_update.bat
app/**/*.js
app/**/*.js.map
appclient/
artifacts/
bin
bld/
bottle.egg-info/
bower_components
bower_components/
build.json
build/
build/Release
built/*
bundles/
celerybeat-schedule
celerybeat.pid
clang_archives
cmake-build-*/
codb/lb-*
codb/lb_*
codb/lib
codb/liquibase*
codb/liquibase-3.2.2
conf/
config/*
connect.lock/
cover/
coverage
coverage.xml
coverage/
cpp/llvm/docs/*
cpp/llvm/tools/clang/www/*
cross/*/work*
csx/
ctags.tmp
cython_debug/
data/
db.sqlite3
db.sqlite3-journal
deployments/
desktop.ini
develop-eggs/
dist
dist/
distrib
dlldata.c
dmypy.json
doc/_build
docs/
docs/_build/
docs/build
docs/node_modules
docs/package-lock.json
domain/
downloads/
drivers/
e2e/*.js
e2e/*.map
ecf/
eggs/
env
env*/
env.bak/
env/
gocode
gocode.exe
gocodetest
godef
goremote
healthchecksdb
hs_err_pid*
htmlcov/
instance/
internal/
ipython_config.py
jboss*/# Default ignored files
jboss*/# overlays
jboss-modules.jar
jedi.egg-info/
jspm_packages/
keep/
kernel/*/work*
lerna-debug.log*
lib-cov
lib/
lib64/
libpeerconnection.log/
listidents
local.mk
local_settings.py
logs
monkeytype.sqlite3
mono_crash.*
nCrunchTemp_*
native/*/work*
nbbuild/
nbdist/
node_modules/
nosetests*.xml
nosetests.xml
npm-debug.log*
nunit-*.xml
obj
orleans.codegen.cs
out
out/
package-lock.json
packages
packages/
paket-files/
parso.egg-info/
parts/
personal/
pids
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pip-wheel-metadata/
profile_default/
project.fragment.lock.json
project.lock.json
public/
publish
publish/
py*-cover.xml
pyvenv.cfg
rcf/
release.shtest
rename
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
settings.js
settings.json
sha256bca9ad158da383a9af76908776cf6cd8b06359a8a1529c4862fd17fd3f2fc7b3
share/*
share/python-wheels/
showcursor
showsmap
spk/*/work*
src/compiler/diagnosticInformationMap.generated.ts
src/compiler/diagnosticMessages.generated.json
src/harness/*.js
src/parser/diagnosticInformationMap.generated.ts
src/parser/diagnosticMessages.generated.json
standalone/
target/
test-args.txt
testem.log
testinst/
tests/*.txt
tests/*.xml
tests/baselines/local.old/*
tests/baselines/local/*
tests/baselines/local/projectOutput/*
tests/baselines/prototyping/local/*
tests/baselines/reference/dt
tests/baselines/reference/projectOutput/*
tests/baselines/reference/testresults.tap
tests/baselines/rwc/*
tests/baselines/test262/*
tests/cases/**/*.js
tests/cases/**/*.js.map
tests/cases/perf/*
tests/cases/rwc/*
tests/cases/test262/*
tests/cases/user/*/**/*.d.ts
tests/cases/user/*/**/*.js
tests/cases/user/*/**/*.js.map
tests/cases/user/*/node_modules/
tests/cases/user/*/package-lock.json
tests/cases/user/TypeScript-Node-Starter/TypeScript-Node-Starter
tests/cases/user/TypeScript-React-Native-Starter/TypeScript-React-Native-Starter
tests/cases/user/TypeScript-React-Starter/TypeScript-React-Starter
tests/cases/user/TypeScript-Vue-Starter/TypeScript-Vue-Starter
tests/cases/user/TypeScript-WeChat-Starter/TypeScript-WeChat-Starter
tests/cases/user/axios-src/axios-src
tests/cases/user/create-react-app/create-react-app
tests/cases/user/fp-ts/fp-ts
tests/cases/user/npm/npm
tests/cases/user/prettier/prettier
tests/cases/user/puppeteer/puppeteer
tests/cases/user/webpack/webpack
tests/services/baselines/local/*
tests/services/baselines/prototyping/local/*
tests/services/browser/typescriptServices.js
tests/testing_config/deps
tests/testing_config/home-assistant.log
tests/webTestServer.js
tests/webTestServer.js.map
tests/webhost/*.d.ts
tests/webhost/webtsc.js
third_party/eclipse.jdt.ls
third_party/tern_runtime/node_modules
third_party/tern_runtime/package-lock.json
third_party/tsserver
toolchains/*/work*
tox.ini
typings/
var/
venv
venv.bak/
venv/
version.txt
violations.pyflakes.txt
virtualization/vagrant/.vagrant
virtualization/vagrant/config
virtualization/vagrant/setup_done
waitress/coverage.xml
web_modules/
welcome-content/
wheels/
work/
x64/
x86/
yarn-debug.log*
yarn-error.log
yarn-error.log*
yarn.lock
~*.docx

Library/Application\ Support/*