{{range .xdg -}}
{{ . | replace ": " "=" }}
{{ end -}}

{{range .env.vars -}}
{{ . | replace ": " "=" }}
{{ end -}}

{{range .taskfile -}}
{{ . | replace ": " "=" }}
{{ end -}}

{{range .taskfile_ansible -}}
{{ . | replace ": " "=" }}
{{ end -}}
