#!/usr/bin/env bash

# Set up additional frameworks and any tweaks/hacks/cleanup after the main work is done
echo "Executing cleanup script"
if [[ -z "$BASH_VERSION" ]];then 
  
  # generate system key
  ssh-keygen -o -a 100 -t ed25519 -f "$HOME/.ssh/id_ed25519" -C "{{- .email -}}"

  # Standard directory layout
  mkdir $HOME/Development
fi 

# Vundle -- this screws things up so do it last
if ! [[ -d "$HOME/.vim/bundle" ]]; then
  git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim
  vim +PluginInstall +qall
fi