#!/usr/bin/env bash

set -euo pipefail

# Script can be used with {{ .chezmoi.os }}, WSL (Windows), or MacOS with linuxbrew or homebrew.

# Update any existing homebrew recipes
brew update

echo "Preparing to install software on $OSTYPE"

# Update Path to include helper binaries
export PATH="$PATH:/.bin"

#Install 1password for the mac before any other additional packages.  Linux should already be taken care of
{{ if (eq .chezmoi.os "darwin") }}
  brew install 1password-cli
{{ end }}

# This script runs rarely, so assume init each time
eval $(op signin my.1password.com {{ .email }})

echo "Adding custom taps"
brew tap AdoptOpenJDK/openjdk

echo "Installing all homebrew apps"

#TODO Install languages using virtual env managers if possible
programming_languages_homebrew=(openjdk node python3 golang typescript)

for i in ${programming_languages_homebrew[@]}; do
  brew install $i
done

build_tools_homebrew=(maven gradle npm)

for i in ${build_tools_homebrew[@]}; do
  brew install $i
done

# TODO: Extract brew targets that require super user permissions and place them in bootstrap
cli_applications_homebrew=(nginx p7zip vim fzf fd bat jq yq mackup jenv diff-so-fancy prettyping shfmt autopep8 clang-format exa jenv pyenv nvm tldr ncdu htop nmap)

for i in ${cli_applications_homebrew[@]}; do
  brew install $i
done

echo "Installing misc plugins"
brew install pyenv-virtualenv
brew install pyenv-ccache

{{ if (eq .chezmoi.os "darwin") }}
# darwin
  echo "Installing all non-freeware packages with brew cask"

  gui_app_cask=(Vivaldi google-chrome docker visual-studio-code slack discord dropbox intellij-idea adoptopenjdk8 1password-cli)
  gui_app_cask+=(iterm2 1password viscosity paw the-unarchiver macdown)
  for i in ${gui_app_cask[@]}; do
    brew install $i
  done
{{ else if (eq .chezmoi.os "linux" ) }}
  #linux
  {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft")}}
  #WSL
  echo "WSL"
  {{ end }}
{{ else }}
# other operating system
{{ end }}
