#!/usr/bin/env bash

set -euo pipefail

# Script can be used with {{ .chezmoi.os }}, WSL (Windows), or MacOS with linuxbrew or homebrew.

#current session -- load path set by boostrap or current linuxbrew path
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# Update any existing homebrew recipes
brew update

echo "Preparing to install software on $OSTYPE"

# essential foss stuff
essential_brew=(python3 golang p7zip fzf fd bat jq yq pyenv tldr starship vim)

echo "Installing minimal packages"
for i in ${essential_brew[@]}; do  
    brew install $i
done

echo "Installing misc plugins"
brew install pyenv-virtualenv
brew install pyenv-ccache

# execute the following only if this is an attended install (TTY present)
#shellcheck disable=SC1009,SC1050,SC1083,SC1054,SC1072,SC1073
{{ if .minimal }}

echo "Installing the full course"

# Import decrypted env tokens if not already loaded, especially the Homebrew one
if [[ -z ${HOMEBREW_GITHUB_API_TOKEN+x} ]]; then
  export $(egrep -v '^#' .autoenv.zsh | xargs)
fi  

# Update Path to include helper binaries
export PATH="$PATH:$HOME/bin"

# skip install if 1password is already been installed
if [[ ! -x $(command -v op) ]]; then

  #Install 1password for the mac before any other additional packages.  Linux should already be taken care of
  #shellcheck disable=SC1054,SC1073,SC1050,SC1072,SC1009
  {{ if (eq .chezmoi.os "darwin") }}
    brew install 1password-cli
  {{ end }}

fi

# Get installed brew packages
INSTALLED_PACKAGES=$(brew list)

echo "Adding custom taps"
brew tap AdoptOpenJDK/openjdk

echo "Installing all homebrew apps"

programming_languages_homebrew=(openjdk node typescript)

for i in ${programming_languages_homebrew[@]}; do
    brew install $i
done

build_tools_homebrew=(maven gradle npm)

for i in ${build_tools_homebrew[@]}; do
    brew install $i
done

cli_applications_homebrew=(nginx rsync jenv diff-so-fancy prettyping shfmt autopep8 clang-format exa jenv nvm ncdu htop nmap gdrive gcalcli todo-txt ripgrep)

for i in ${cli_applications_homebrew[@]}; do  
    brew install $i
done

  {{ if (eq .chezmoi.os "darwin") }}
# darwin
  echo "Installing all non-freeware packages with brew cask"

  gui_app_cask=(Vivaldi docker visual-studio-code slack discord dropbox intellij-idea adoptopenjdk8 1password-cli)
  gui_app_cask+=(iterm2 1password viscosity paw the-unarchiver macdown)
  for i in ${gui_app_cask[@]}; do
    brew install $i
  done
  {{ else if (eq .chezmoi.os "linux" ) }}
  #linux
    {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft")}}
  #WSL
  echo "WSL"
    {{ end }}
  {{ else }}
  # other operating system
  {{ end }}
{{ end }}