# chezmoi:template:left-delimiter="[[" right-delimiter=]]
version: "3"

vars:
  [[range .xdg -]]
  [[.]]
  [[end -]]
  [[range .taskfile -]]
  [[.]]
  [[end -]]
  RUN_PREFIX: "{{.POETRY}} run"
  VENV_PYTHON: "{{.RUN_PREFIX}} python"
  RUN_MODULE_PREFIX: "{{.RUN_PREFIX}} {{.PYTHON}} -m"
  DASBOOTSTRAP_PREFIX: "{{.RUN_MODULE_PREFIX}} dasbootstrap"  

includes:
  ansible:
    optional: true
    taskfile: "{{.HOME}}/.ansible/Taskfile.yml"
    dir: "{{.HOME}}/.ansible"
  bin:
    optional: true
    taskfile: "{{.HOME}}/.local/bin/Taskfile.yml"
    dir: "{{.XDG_BIN_HOME}}"
  dbs:
    optional: true
    taskfile: "{{.XDG_DATA_HOME}}/dasbootstrap/Taskfile.yml"
    dir: "{{.XDG_DATA_HOME}}/dasbootstrap"

tasks:
  default:
    cmds:
      - |
        command -v brew >/dev/null || { echo "brew is mandatory for this to work, please install it"; exit 1; }
        command -v gum >/dev/null|| brew install gum
        selected=$(task --list-all | grep -v "task: Available" | grep -v "default:" | gum filter --indicator="->" --placeholder="Type to search for a task...")
        echo "$selected" | awk '{sub(/:$/, "", $2); print $2}' | xargs task

  chez:apply:
    desc: "Apply changes from downloaded dotfiles"
    deps:
      - task: chez:install
    cmds:
      - "{{.RUN_PREFIX}} chezmoi apply"

