# chezmoi:template:left-delimiter="[[" right-delimiter=]]
version: "3"

vars:
  [[range .xdg -]]
  [[.]]
  [[end -]]
  [[range .taskfile -]]
  [[.]]
  [[end -]]
  [[range .taskfile_ansible -]]
  [[.]]
  [[end -]]
  RUN_PREFIX: "{{.POETRY}} run"
  VENV_PYTHON: "{{.RUN_PREFIX}} python"
  RUN_MODULE_PREFIX: "{{.RUN_PREFIX}} {{.PYTHON}} -m"
  DASBOOTSTRAP_PREFIX: "{{.RUN_MODULE_PREFIX}} dasbootstrap"

includes:
  ans:
    taskfile: "{{.XDG_CONFIG_HOME}}/taskfiles/Taskfile-ansible.yaml"
    dir: "{{.ANSIBLE_HOME}}"
  bin:
    taskfile: "{{.XDG_CONFIG_HOME}}/taskfiles/Taskfile-scripts.yaml"
    dir: "{{.XDG_BIN_HOME}}"
  chez:
    taskfile: "{{.XDG_CONFIG_HOME}}/taskfiles/chezmoi.yaml"
    dir: "{{.CHEZMOI_HOME}}"
  install:
    taskfile: "{{.XDG_CONFIG_HOME}}/taskfiles/Taskfile-install.yaml"
  inv:
    taskfile: "{{.XDG_CONFIG_HOME}}/taskfiles/Taskfile-inventory.yaml"
    dir: "{{.DASBOOTSTRAP_HOME}}"
  py:
    taskfile: "{{.XDG_CONFIG_HOME}}/taskfiles/Taskfile-pyprojects.yaml"
    dir: "{{.DASBOOTSTRAP_HOME}}"
# machine-specific configuration
[[- if eq .chezmoi.hostname "caddy" ]]
  caddy:
    taskfile: "{{.XDG_CONFIG_HOME}}/taskfiles/host_specific/caddy.yaml"
[[- end ]]


tasks:
  default:
    cmds:
      - |
        command -v brew >/dev/null || { echo "brew is mandatory for this to work, please install it"; exit 1; }
        command -v gum >/dev/null|| brew install gum
        selected=$(task --list-all | grep -v "task: Available" | grep -v "default:" | gum filter --indicator="->" --placeholder="Type to search for a task...")
        echo "$selected" | awk '{sub(/:$/, "", $2); print $2}' | xargs task