# Unison preferences file

# Root directories to synchronize
root = ssh://ansible@watchyourlan.local.technohouser.com//data
root = {{.xdg_data_home}}/automation/home-db/watchyourlan

# Synchronization preferences
auto = true
batch = true
backupdir = {{.xdg_cache_home}}/unison
backuploc = central
confirmbigdel = false
fastcheck = false
times = true

# Resolve conflicts by favoring the newest files
prefer = newer

# Ignore some files and directories
ignore = Name {.git,.DS_Store,*.bak,dist,node_modules,.idea}
