##  Make the defaults explicit
## Comments grabbed from arch wiki on the variables

set -o allexport
{{- range $key, $value := .tool.versions }}
{{ $key }}={{ $value }}
{{- end }}
set +o allexport

# TODO: Phase out .versions.vars and convert all env to key value pairs
set -o allexport
{{range .versions.vars -}}
{{ . | replace ": " "=" }}
{{end -}}
set +o allexport

# Set PATH, MANPATH, etc., for Homebrew linux.
if [[ -d /home/linuxbrew/.linuxbrew ]]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
elif [[ -d $HOME/.linuxbrew ]]; then
  eval "$($HOME/.linuxbrew/bin/brew shellenv)"
elif [[ -d /opt/homebrew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

set -o allexport
{{range .pyenv.vars -}}
{{.}}
{{end}}
{{range .pyenv.cmds -}}
{{.}}
{{end -}}
set +o allexport

if ! [[ -d ${PYENV_ROOT} ]]; then
    git clone https://github.com/pyenv/pyenv ${XDG_DATA_HOME}/pyenv && pyenv install ${PYTHON_VERSION} && pyenv global ${PYTHON_VERSION}
fi

set -o allexport
{{range .nvm.vars -}}
{{.}}
{{end}}
{{range .nvm.cmds -}}
{{.}}
{{end -}}
set +o allexport

if ! [[ -d ${XDG_DATA_HOME}/nvm ]]; then
    mkdir -p ${NVM_DIR} && \
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/${NVM_VERSION}/install.sh | bash && \
    \. ${NVM_DIR}/nvm.sh && nvm install --lts && nvm use --lts
fi

set -o allexport
{{range .pipx.vars -}}
{{ . | replace ": " "=" }}
{{end -}}
set +o allexport

pipx ensurepath
activate-global-python-argcomplete
