[user]
  email = jhettenh@gmail.com
  name = "Jeremy Hettenhouser"
  signingKey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
[commit]
  template = {{ .chezmoi.homeDir }}/.gitcommit-message
  gpgSign = true
[gpg]
  format = ssh
{{- if (eq .chezmoi.hostname "automation") }}
[status]
  submodulesummary = true
{{- end }}
{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
[credential "https://github.com"]
    helper =
    helper = !$(brew --prefix)/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !$(brew --prefix)/bin/gh auth git-credential
{{- end }}
[core]
{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
  pager = "diff-so-fancy | less --tabs=4 -RF"
{{- end }}
