!**/.vscode/extensions.json
!**/.vscode/launch.template.json
!**/.vscode/settings.template.json
!**/.vscode/tasks.json
!**/[Pp]ackages/build/
!.axoCover/settings.json
!.gitignore
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

*$py.class
**/Photos\ Library/*
**go/pkg/*
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/*.db
**/*.log
**/*.log*
**/.DS_Store
**/.vs
**/.vscode/*
.idea
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sonarIssues.xml
.idea/**/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.next
.node_modules/
.svn
.tern-port
.tmp
.tox/
.vagrant/
.vscode
.vscode-test
.vscode/*
.vuepress/dist
.webassets-cache
.worksheet
ENV/
artifacts/
bin
dist
dist/
distrib
env
env*/
env.bak/
env/
logs
venv
venv.bak/
venv/
.venv

Library/Application\ Support/*