# Unison preferences file

# Root directories to synchronize
root = ssh://fenrus//etc
root = {{.xdg_data_home}}/automation/home-db/caddy/etc

path = caddy
path = systemd/system/caddy.service
path = systemd/system/caddy.service.d
path = crowdsec
path = systemd/system/Fenrus.service
path = systemd/system/crowdsec-cloudflare-bouncer.service

include default
