{
	debug
	default_bind 127.0.0.1
	http_port 7080
	https_port 7443
	email "{{ onepasswordRead op://ansible/admin_user0/email }}"
	acme_ca https://acme.zerossl.com/v2/DV90
	acme_dns cloudflare "{{ onepasswordRead op://ansible/cloudflare/cf-technohouser-zone-key }}"
	acme_eab {
		key_id "{{ onepasswordRead op://ansible/ZeroSSL/zero-ssl-eab-kid }}"
		mac_key "{{ onepasswordRead op://ansible/ZeroSSL/zero-ssl-hmac-key }}"
	}
	cert_issuer zerossl "{{ onepasswordRead op://ansible/ZeroSSL/ssl-key }}"
	default_sni local.technohouser.com

	log {
		output stdout
		output stderr
		format json
		level debug
	}
}

merel.local.technohouser.com, merel.technohouser.com {
	reverse_proxy / http://fenrus:3000

	reverse_proxy /mylar3/* http://mylar3:8090
}
