# chezmoi:template:left-delimiter="##" right-delimiter=##
version: "3"

vars:
  ##range .taskfile -##
  ##.##
  ##end##
  ##range .xdg -##
  ##.##
  ##end##

includes:
  os_specific: os_specific/Taskfile_{{OS}}.yaml


tasks:


  brew:env:
    silent: true
    internal: true
    cmds:
      - test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
      - test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
      - echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.profile

  brew:linux:
    desc: Install homebrew for Linux
    cmds:
      - bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      - defer: { task: brew:env }
    require: "PATH"
    preconditions:
      - sh: $(whoami) != "root"
        msg: "Homebrew cannot be installed as root"

  brew:deps:
    desc: Set up brew packages contained within packages.toml
    cmds:
      - brew install {{.PACKAGES}} {{.CLI_ARGS}}
    preconditions:
      - sh: command -v brew
        msg: "Homebrew is a precondition for install"
    vars:
      PACKAGES: >-
        ##range .brew.packages -##
        ##.##
        ##end##

  pipx:deps:
    desc: Set up the pipx packages within packages.toml
    cmds:
      - pipx install {{.PACKAGES}} {{.CLI_ARGS}}
    preconditions:
      - sh: command -v pipx
        msg: "Pipx is a precondition for install of these pipx packages"
    vars:
      PACKAGES: >-
        ##range .pipx.packages -##
        ##.##
        ##end##
