mkdir -p "${XDG_CACHE_HOME}/completions"

zinit wait lucid for \
  OMZL::git.zsh \
  OMZP::git \
  OMZP::git-extras \
  OMZP::tig \
  OMZP::git-auto-fetch \
  unixorn/git-extra-commands

zinit wait lucid depth"1" for \
      atinit"ZINIT[COMPINIT_OPTS]=-C; zicompinit; zicdreplay" \
      zdharma-continuum/fast-syntax-highlighting \
      blockf \
      https://raw.githubusercontent.com/junegunn/fzf/master/shell/completion.zsh \
      https://raw.githubusercontent.com/junegunn/fzf/master/shell/key-bindings.zsh \
      https://github.com/docker/cli/blob/master/contrib/completion/zsh/_docker

# Load completions from Homebrew
if [[ -d /opt/homebrew/share/zsh/site-functions ]]; then
  for file in /opt/homebrew/share/zsh/site-functions/_*; do
    cp --remove-destination "$file" "${XDG_DATA_HOME}/zinit/completions"
  done
fi
