mkdir -p "${XDG_CACHE_HOME}/completions"

zinit wait lucid depth"1" for \
      atinit"ZINIT[COMPINIT_OPTS]=-C; zicompinit; zicdreplay" \
      zdharma-continuum/fast-syntax-highlighting \
      blockf \
      https://raw.githubusercontent.com/junegunn/fzf/master/shell/completion.zsh \
      https://raw.githubusercontent.com/junegunn/fzf/master/shell/key-bindings.zsh \
      https://github.com/docker/cli/blob/master/contrib/completion/zsh/_docker

if [[ $(command -v ng 2>/dev/null) ]]; then
  source <(ng completion script)
fi

# Load completions from Homebrew
if [[ -d $(brew --prefix)/share/zsh/site-functions ]]; then
  for file in $(brew --prefix)/share/zsh/site-functions/_*; do
    cp --remove-destination "$file" "${XDG_DATA_HOME}/zinit/completions"
  done
fi

if [[ $(command -v kubectl 2>/dev/null) ]]; then
  source <(kubectl completion zsh)
fi

if [[ $(command -v helm 2>/dev/null) ]]; then
  source <(helm completion zsh)
fi

if [[ $(command -v jbang 2>/dev/null) ]]; then
  source <(jbang completion zsh)
fi

if [[ $(command -v colima 2>/dev/null) ]]; then
  source <(colima completion zsh)
fi
