{{- if eq .chezmoi.os "darwin" }}
# Use all gnu utils rather than the elderly BSD ones
export PATH=/opt/homebrew/opt/coreutils/libexec/gnubin:$PATH
{{- end }}

# XDG script path
export PATH=${XDG_BIN_HOME}:$(brew --prefix)/bin:${PATH}

# shellcheck disable=SC1009,SC1050,SC1054,SC1072,SC1073
{{- if eq .chezmoi.os "darwin" }}

export CLICOLOR="1"

# Huber prereqs
export PKG_CONFIG_PATH="/usr/local/opt/libarchive/lib/pkgconfig"

{{- else if eq .chezmoi.os "linux" }}

{{end}}

{{- if eq .chezmoi.os "microsoft" }}
# WSL
# Hack: Solve slow FZF issue
unsetopt PATH_DIRS
{{ end }}

{{ if eq .chezmoi.os "linux" }}
# Wayland
export GDK_BACKEND=wayland
{{end}}

## Homebrew
export HOMEBREW_CASK_OPTS=--require-sha
export HOMEBREW_NO_INSECURE_REDIRECT=1

#GPG config
export GPG_TTY=$TTY

export EDITOR='vim'
export VISUAL='vim'
export SYSTEMD_EDITOR='vim'

export PYTHONIOENCODING=UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8

