#!/usr/bin/env zsh

zinit wait lucid for \
  zdharma-continuum/history-search-multi-word

zinit wait lucid for \
  unixorn/prettyping \
    has'eza' atinit'AUTOCD=1' \
      z-shell/zsh-eza \
    has'fzf' atinit'AUTOCD=1' \
      leophys/zsh-plugin-fzf-finder \
      redxtech/zsh-fzf-utils \
      agkozak/zsh-z \
      reegnz/jq-zsh-plugin \
      b0o/zfzf

zinit ice lucid wait='1' for \
 has'fzf' changyuheng/fz \
 laggardkernel/zsh-thefuck \
 mattmc3/zman

zi ice as'null' sbin'bin/*'
zi light z-shell/zsh-diff-so-fancy
