# tools
mkdir -p "$(brew --prefix)/etc/profile.d/"

zinit wait lucid for \
  zdharma-continuum/history-search-multi-word \
  unixorn/prettyping \
    has'eza' atinit'AUTOCD=1' \
      z-shell/zsh-eza \
    has'fzf' atinit'AUTOCD=1' \
      leophys/zsh-plugin-fzf-finder \
      redxtech/zsh-fzf-utils \
      agkozak/zsh-z \
      reegnz/jq-zsh-plugin 

zi snippet "$(brew --prefix)/etc/profile.d/z.sh"
zi ice as'null' sbin'bin/*'
zi light z-shell/zsh-diff-so-fancy
