#!/usr/bin/env zsh

# Github CLI temporary workaround
# https://github.com/cli/cli/issues/6096
if [[ $(command -v gh) ]]; then
    user=$(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /user | jq -r .login)
    email=$(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /user/emails | jq -r ".[0].email")
    echo "Setting $user <$email> as the default Git user..."
    git config --global user.name "$user"
    git config --global user.email "$email"
fi

zinit wait lucid for \
  zdharma-continuum/history-search-multi-word

zinit wait lucid for \
  unixorn/prettyping \
    has'eza' atinit'AUTOCD=1' \
      z-shell/zsh-eza \
    has'fzf' atinit'AUTOCD=1' \
      leophys/zsh-plugin-fzf-finder \
      redxtech/zsh-fzf-utils \
      agkozak/zsh-z \
      reegnz/jq-zsh-plugin \
      b0o/zfzf

zinit ice lucid wait='1' for \
 has'fzf' changyuheng/fz \
 laggardkernel/zsh-thefuck \
 mattmc3/zman

zi ice as'null' sbin'bin/*'
zi light z-shell/zsh-diff-so-fancy

