# chezmoi:template:left-delimiter="##" right-delimiter=##
- name: Bootstrap LXC image
  hosts: "{{ ans_host }}"
  remote_user: root
  pre_tasks:
    - name: Bootstrap the lxc image on proxmox
      ansible.builtin.import_role:
        name: technohouser.dasbootstrap.bootstrap
  vars_files:
    - "##.chezmoi.homeDir##/.ansible/inventory/group_vars/all.yaml"
    - "##.chezmoi.homeDir##/.ansible/inventory/host_vars/lxc.yaml"
