{{- if eq .chezmoi.os "darwin" }}

cask "1password"
cask "1password-cli"
cask "font-fira-code-nerd-font"
cask "font-fira-mono-nerd-font"
cask "slack"
cask "zoom"

{{ end }}

{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") }}
brew "ansible"
brew "ansible-lint"
brew "bat"
brew "bzip2"
brew "chezmoi"
brew "coreutils"
brew "curl"
brew "eza"
brew "fd"
brew "fzf"
brew "gcc"
brew "gdbm"
brew "gh"
brew "helm"
brew "jq"
brew "k9s"
brew "krb5"
brew "kubernetes-cli"
brew "lua"
brew "ncdu"
brew "nmap"
brew "p7zip"
brew "perl"
brew "prettyping"
brew "pyenv"
brew "poetry"
brew "ripgrep"
brew "sqlite"
brew "starship"
brew "tldr"
brew "unzip"
brew "vim"
brew "yq"
brew "zinit"
brew "zsh"
brew "zstd"
{{ end }}